@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Syne:wght@400..800&display=swap');
@import "tailwindcss";

@theme {
  --color-base: #0a0a0a;
  --color-text: #f0ede8;
  --color-accent: #c8f135;
  
  --font-syne: "Syne", sans-serif;
  --font-mono: "DM Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-base);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-base);
}
